.intro-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
}

.lobby {
  align-items: center;
}

select {
  border-radius: 6px;
}

input {
  color: whitesmoke;
  padding: 8px 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: black;
  outline: 2px solid rgba(245, 245, 248, 0.927);
}

select {
  color: whitesmoke;
  background-color: black;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: inherit;
  outline: 2px solid rgb(255, 255, 255);
}

body {
  color: white;
  background-color: rgb(24, 19, 39);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23b18fec' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.formList {
  font-size: 1.25rem;
  line-height: 2.5;
}

.answer-button {
  margin: 0.5rem;
  padding: 0.7rem;
  border-radius: 10px;
  font-size: 1rem;
  color: black;
  font-weight: bold;
}

.answer-button:active,
.quiz-button:active {
  box-shadow: inset 5px 5px 10px -3px rgb(4, 3, 10);
}

.answer-button:hover,
.quiz-button:hover {
  cursor: pointer;
}

.quiz-button {
  color: white;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.7rem;
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  background-color: rgb(36, 205, 24);
}

.score {
  font-weight: bold;
  font-size: 1.3rem;
}
.quiz-footer {
  margin-top: 2rem;
}
